h1 {
	height: 33vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
	--aspect: calc( 16 / 9 );
}

div#embed.big {
	--width: 80vw;
	margin: 0px -10vw;
	width: var(--width);
	height: calc( var(--width) / var(--aspect) );
}

div#embed.normal {
	--width: 60vw;
	width: var(--width);
	height: calc( var(--width) / var(--aspect) );
}

div#embed.small {
	--width: 40vw;
	margin: 0px 10vw;
	width: var(--width);
	height: calc( var(--width) / var(--aspect) );
}

div#embed > iframe {
	width: 100% !important;
	height: 100% !important;
	border: none;
}

div#embed > iframe:focus {
	outline: none;
}

div#buttons {
	margin: 3em 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div#buttons > .button {
	margin: 0 1em;
}

div#content {
	margin: 0px 20vw;
}

footer {
	font-size: 0.7em;
}

@media all and ( max-width: 480px ) and ( orientation: portrait ) {

	div#buttons > .button {
		margin: 0 0.5em;
	}

}
