<!DOCTYPE html>
<html>
	<head>
		{% assign directory = page.dir | remove_first: '/sketches' | remove: '/' %}

		<meta charset="utf-8" />
		<title>/ three.js / {{ page.title }}</title>
		<style>
			body {
				margin: 0;
				overflow: hidden;
				width: 100vw;
				height: 100vh;
			}

			canvas {
				width: 100% !important;
				height: 100% !important;
			}
		</style>
	</head>
	<body>
		<canvas id="app"></canvas>

		{{ content }}

		<script type="module" src="js/main.js"></script>
	</body>
</html>
